@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  background-color: #fff;
  font-family: 'Amatic SC';  
  font-size: 18px;
}

#App {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e8f3ea;
  min-height: 95vh;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

button {
  font-size: 25px;
  font-family: 'Amatic SC'; 
  background-color: #92b19f;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  cursor: pointer;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
}

